@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto:400,700&display=swap');

:root {
    --primaryColor: #583EBC;
    --white: #FFFFFF;
    --black: #333333;
    --yellow: #F8F7AB;
    --grey: #F9F7F2;
    --fsize-1: 56px;
    --fsize-2: 72px;
    --fsize-3: 20px;
    --boxShadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    color: var(--black);
    background: var(--grey);
}

h1 {
    font-family: "PT+Serif";
    font-weight: lighter;
    font-size: var(--fsize-1);
}
h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a {
    text-decoration: none;
}

p {
    line-height: 40px;
    font-size: var(--fsize-3);
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    padding: 8px;
    width: 140px;
    height: 48px;
    color: var(--white);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 5%;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--fsize-3);
}

.main-button {
    background-color: var(--primaryColor);
    border: none;
}

section {
    padding: 2rem 0; 
}

/* ////////////////// GLOBAL  /////////////////*/

/* ////////////////// HERO  /////////////////*/


 #hero {
    position: relative;
    height: calc(100vh - 60px);
    padding: 0 0.4rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.27), #000), url('/img/hero/hero-bg.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    color: var(--white);
    margin: 0 auto; 
}

#hero > * {
    margin-bottom: 3rem;
}

.hero__text > * {
    margin: 2rem 0;
}

.hero__text {
    position: relative;
}

.hero__text h1 {
    font-size: 40px;
}

.hero__text h1::before {
    position: absolute;
    content: url("/img/hero/hero-dots.svg");
    top: -70px;
    right: 10px;
    opacity: 0.4;
}

.hero__img {
    background: url("/img/hero/hero-small.png") no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.hero__buttons button:not(:first-child) {
    margin-left: 1rem;
}

@media (min-width: 800px) {
    .hero__img {
        background: url("/img/hero/hero-small.png") no-repeat;
        background-size: cover;
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1000px) {
    #hero {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    }
    .hero__text {
        width: 30%;
    }

    .hero__text h1 {
        font-size: var(--fsize-2);
    }

    .hero__img {
        background: url("/img/hero/hero-small.png") no-repeat;
        background-size: cover;
        width: 550px;
        height: 550px;
    }

}

/* ////////////////// HERO  /////////////////*/

/* ////////////////// ABOUT  /////////////////*/

#about {
    padding-top: 2rem;
    margin: 1rem;
    background: var(--grey);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about__image {
    position: relative;
    margin-left: 1rem;
    background: url("/img/about/about-small.png") no-repeat;
    background-size: cover;
    box-shadow: var(--boxShadow);
    height: 320px;
    width: 320px;
    border-radius: 1%;
}

.about__text h1::before {
    position: absolute;
    content: url("/img/about/about-dots.svg");
    top: 20px;
    right: 10px;
}

.about__image .about__icon {
    position: absolute;
    top: 60%;
    left: -5%;
    width: 85px;
    height: 85px;
    border-radius: 5%;
    border: none;
    background: #BBA285;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.about__image .about__icon .icon {
    position: absolute;
    width: 30px;
    height: 30px;
}

.about__text > * {
    margin-bottom: 1rem;
}

.about__text {
    position: relative;
    margin-top: 5rem;
    padding-top: 3rem;
}

@media (min-width: 800px) {
    #about {
        margin: 3rem auto; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .about__image {
        background: url("/img/about/about-big.png") no-repeat;
        background-size: cover;
        height: 400px;
        width: 400px;
    }

    .about__text {
        width: 30%;
    }

    .about__image .about__icon {
        width: 170px;
        height: 170px;
    }

    .about__image .about__icon .circle {
        width: 112px;
        height: 112px;
    }

    .about__image .about__icon .icon {
        width: 33px;
        height: 48px;
    }
}

@media (min-width: 1000px) {
    .about__image {
        background: url("/img/about/about-big.png") no-repeat;
        background-size: cover;
        height: 570px;
        width: 570px;
    }
}

/* ////////////////// ABOUT  /////////////////*/

/* ////////////////// OFFERS  /////////////////*/

#offers {
    margin: 4rem 0;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.offers__text h1 {
    position: relative;
    font-size: var(--fsize-1);
}

.offers__text h1::after {
    position: absolute;
    content: url("/img/about/about-dots.svg");
    top: -70px;
    right: 10px;
} 

.offers__text {
    padding: 4rem 1rem;
}


.offers__item h6 {
    padding-top: 0.5rem;
}

.offers__list {
    margin-top: 3rem;
}

.offers__list > * {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

.offers__name {
    display: flex;
    justify-content: space-between;
}

.offers__image {
    margin-left: 1rem;
    width: 320px;
    max-width: 100%;
    height: 320px;
    background: url("/img/offers/offers-small.png") no-repeat;
    background-size: cover;
    box-shadow: var(--boxShadow);
}

@media (min-width: 800px) {
    #offers {
        margin: 4rem 0 4rem 2rem;
        padding: 4rem 0;
        max-width: 1900px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .offers__image {
        margin-left: 1rem;
        width: 460px;
        height: 470px;
        background: url("/img/offers/offers-big.png") no-repeat;
        background-size: cover;
    }

    .offers__text {
        max-width: 100%;
        width: 40%;
        padding: 4rem 1rem;
    }

    .offers__item h4 {
        font-size: var(--fsize-3);
    }

    .offers__item h6 {
        font-size: 14px;
    }
}

@media (min-width: 1000px) {
    .offers__image {
        background: url("/img/offers/offers-big.png") no-repeat;
        background-size: cover;
        height: 570px;
        width: 570px;
    }
}

/* ////////////////// OFFERS  /////////////////*/

/* ////////////////// LUNCH  /////////////////*/

#lunch {
    margin: 1rem 0;
}

.lunch__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.lunch__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lunch__item {
    display: flex;
    padding: 1rem ;
    margin: 0.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.lunch__name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
}

.lunch__discription {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    min-width: 180px;
}

.lunch__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

@media (min-width: 800px) { 
    #lunch {
        margin: 4rem auto;
        padding: 4rem 0;
    }

    .lunch__text h1{
        margin: 1rem 0;
        font-size: var(--fsize-2);
    }

    .lunch__list {
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .lunch__item {
        border-bottom: none;
    }

    .lunch__discription {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}

/* ////////////////// LUNCH  /////////////////*/

/* ////////////////// EVENTS  /////////////////*/

#events {
    margin: 2rem 0;
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.events__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem 0;
}

.events__text h1 {
    position: relative;
    font-size: 40px;
}

.event__card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.card__img {
    background: url("/img/events/events-small.png") no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 350px;
}

.card__text {
   
    background: var(--white);
    color: var(--black);
    padding: 1rem;
}

.card__text h2 {
    font-size: 40px;
}

.card__text button {
    margin: 1rem;
}

.card__text > * {
    margin-bottom: 1rem;
}

.events__text h1::before {
    position: absolute;
    content: url("/img/events/events-dots.svg");
    bottom: -40px;
    right: -20px;
    opacity: 0.4;
}

@media (min-width: 800px) { 
    .event__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 500px;
        max-width: 1200px;
        margin-bottom: 6rem;
    }

    .card__img {
        background: url("/img/events/events-big.png") no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 500px;
    }

    .card__text > * {
        margin: 25px;
    }


}

/* ////////////////// EVENTS  /////////////////*/

/* ////////////////// GALLERY  /////////////////*/

#gallery {
    margin: 1rem;
    padding: 1rem;
}

.gallery__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem 0;
}

.gallery__images {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    max-width: 1200px;
}

.gallery__images img {
    margin-bottom: 1rem;
    box-shadow: var(--boxShadow);
}

/* ////////////////// GALLERY  /////////////////*/

/* ////////////////// TESTIMONIALS  /////////////////*/
#testimonials {
    padding: 1rem;
    background: linear-gradient(to bottom, #F9F7F2, #F9F7F2 50%, #F9F7F2 60%, #333 60%);
}

.testimonials__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.testimonials__card {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    padding: 2rem;
    max-width: 1170px;
    box-shadow: var(--boxShadow);
}

.testimonials__card > * {
    margin-bottom: 10px;
}

.testimonials__card img {
    padding: 2rem 0;
    z-index: 1;
}

.testimonials__card p::before {
    position: absolute;
    content: url("/img/testimonials/testimonials-dots.svg");
    top: -200px;
    left: 40%;
}

.testimonials__card p {
    position: relative;
    padding: 1rem 2rem;
    text-align: center;
}

.testimonials__card h3 {
    font-weight: 700;
}

.fa-star {
    color: #BBA285;
}

.arrow-left,
.arrow-right {
    display: none;
}

@media (min-width: 950px) {
    .testimonials__card {
        position: relative;
    }

    .arrow-left,
    .arrow-right {
        display: block;
        position: absolute;
        bottom: 45%;
    }

    .arrow-left {
        left: 15px;
    }

    .arrow-right {
        right: 15px;
    }

    .arrow-left i,
    .arrow-right i {
        font-size: 30px;
    }
}

/* ////////////////// TESTIMONIALS  /////////////////*/

/* ////////////////// PRESS  /////////////////*/

#press {
    padding: 8rem 1rem;
    background: var(--black);
    color: var(--white);
}

.press__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.press__card {
    background: var(--white);
    color: var(--black);
    margin-bottom: 1rem;
    border-radius: 5px;
}

.press__card h3 {
    font-weight: 700;
}

.press__card > * {
    padding: 1.4rem;
}

@media (min-width: 950px) { 
    .press__card {
        margin: 1rem;
    }

    .press__cards {
        margin: 0 auto;
        padding: 1rem 5rem;
        display: flex;
        justify-content: space-around;
    }

    
}

/* ////////////////// PRESS  /////////////////*/

/* ////////////////// CHEF  /////////////////*/
#chef {
    padding: 1rem;
}

.chef__image {
    position: relative;
    margin-top: 4rem;
    margin-left: 1rem;
    background: url("/img/chef/chef-small.png") no-repeat;
    background-size: cover;
    box-shadow: var(--boxShadow);
    height: 320px;
    width: 320px;
    border-radius: 1%;
}

.chef__image .about__icon {
    position: absolute;
    top: 60%;
    left: -5%;
    width: 85px;
    height: 85px;
    border-radius: 5%;
    border: none;
    background: #BBA285;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.chef__image .about__icon .circle {
    position: absolute;
}

.chef__image .about__icon .icon {
    position: absolute;
    width: 30px;
    height: 30px;
}

.chef__text > * {
    margin-bottom: 1rem;
}

.chef__text {
    position: relative;
    margin-top: 3rem;
    padding-top: 3rem;
}

.chef__text h3 {
    margin-top: 2rem;
    font-weight: 700;
}

@media (min-width: 950px) {
    #chef {
        margin: 3rem auto; 
        display: flex;
        justify-content: space-around;
        max-width: 100%;
    }

    .chef__image {
        background: url("/img/chef/chef-big.png") no-repeat;
        background-size: cover;
        height: 570px;
        width: 570px;
    }

    .chef__text {
        width: 30%;
    }

    .chef__image .about__icon {
        width: 170px;
        height: 170px;
        max-width: 100%;
    }

    .chef__image .about__icon .circle {
        width: 112px;
        height: 112px;
    }

    .chef__image .about__icon .icon {
        width: 53px;
        height: 48px;
    }
}

/* ////////////////// CHEF  /////////////////*/

/* ////////////////// CONTACT  /////////////////*/

#contact {
    margin: 3rem 0 auto;
    padding: 5rem 1rem;
    background: var(--white);
}

.contact__text {
    padding: 0 1rem;
}

form {
    display: grid;
    margin: 3rem 1rem;
    max-width: 100%;
}

label {
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 700;
}

input {
    max-width: 100%;
}

select,
option,
input {
    min-width: 310px;
    max-width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    transition: border-color .5s ease-out;
    padding: 1rem;
    font-size: var(--fsize-3);
}


::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    font-weight: lighter;
}

form button {
    margin-top: 2rem;
}

.contact__img {
    background: url("/img/reserve/reserve-small.png") no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 400px;
    box-shadow: var(--boxShadow);
}

@media (min-width: 900px) { 
    #contact {
        margin: 4rem 0 4rem 2rem;
        padding: 10rem 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .contact__img {
        background: url("/img/reserve/reserve-big.png") no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 560px;
        box-shadow: var(--boxShadow);
    }

    select,
    option,
    input {
        max-width: 100%;
    }
}

/* ////////////////// CONTACT  /////////////////*/

/* ////////////////// FOOTER  /////////////////*/

#footer {
    padding: 3rem 1rem;
    background: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer > * {
    margin-bottom: 1.5rem;
}

.footer__nav a{
    color: var(--white);
}

.footer__nav li {
    margin-bottom: 1rem;
}

.footer__social {
    display: flex;
}

.footer__social img {
    width: 30px;
    height: 30px;
}

.footer__social li:not(:last-child) {
    margin-right: 1.6rem;
}


@media (min-width: 900px) { 
    .footer__nav {
        display: flex;
        padding-bottom: 1.2rem;
    }

    .footer__nav li:not(:last-child) {
        margin-right: 2rem
    }
}


/* ////////////////// FOOTER  /////////////////*/

