@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto:400,700&display=swap');

:root {
    --primaryColor: #583EBC;
    --white: #FFFFFF;
    --black: #333333;
    --yellow: #F8F7AB;
    --grey: #F9F7F2;
    --fsize-1: 56px;
    --fsize-2: 72px;
    --fsize-3: 20px;
    --boxShadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    color: var(--black);
    background: var(--grey);
}

h1 {
    font-family: "PT+Serif";
    font-weight: lighter;
    font-size: var(--fsize-1);
}
h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a {
    text-decoration: none;
}

p {
    line-height: 40px;
    font-size: var(--fsize-3);
}

li {
    list-style: none;
}

button {
    padding: 8px;
    width: 160px;
    height: 48px;
    color: var(--white);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 5%;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--fsize-3);
}

.main-button {
    background-color: var(--primaryColor);
    border: none;
}

/* ////////////////// GLOBAL  /////////////////*/

/* ////////////////// HERO  /////////////////*/


 #hero {
    position: relative;
    height: calc(100vh - 60px);
    padding: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.27), #000), url('/img/hero/hero-bg.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    color: var(--white);
}

#hero > * {
    margin-bottom: 3rem;
}

.hero__text > * {
    margin: 2rem auto;
}

.hero__text {
    position: relative;
}


.hero__text h1::before {
    position: absolute;
    content: url("/img/hero/hero-dots.svg");
    top: -70px;
    right: 10px;
    opacity: 0.4;
}

.hero__buttons button:not(:first-child) {
    margin-left: 1rem;
}

@media (min-width: 800px) {
    #hero {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    }
    .hero__text {
        width: 30%;
    }

    .hero__text h1 {
        font-size: var(--fsize-2);
    }

}

/* ////////////////// HERO  /////////////////*/

/* ////////////////// ABOUT  /////////////////*/

#about {
    padding-top: 2rem;
    margin: 1rem;
    background: var(--grey);
}

.about__image {
    position: relative;
    margin-left: 1rem;
    background: url("/img/about/about-small.png") no-repeat;
    background-size: cover;
    box-shadow: var(--boxShadow);
    height: 320px;
    width: 320px;
    border-radius: 1%;
}

.about__text h1::before {
    position: absolute;
    content: url("/img/about/about-dots.svg");
    top: 20px;
    right: -10px;
}

.about__image .about__icon {
    position: absolute;
    top: 60%;
    left: -5%;
    width: 85px;
    height: 85px;
    border-radius: 5%;
    border: none;
    background: #BBA285;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.about__image .about__icon .icon {
    position: absolute;
    width: 30px;
    height: 30px;
}

.about__text > * {
    margin-bottom: 1rem;
}

.about__text {
    position: relative;
    padding-top: 3rem;
}

@media (min-width: 800px) {
    #about {
        margin: 3rem auto; 
        width: 1700px;
        display: flex;
        justify-content: space-around;
    }

    .about__image {
        background: url("/img/about/about-big.png") no-repeat;
        background-size: cover;
        height: 570px;
        width: 570px;
    }

    .about__text {
        width: 30%;
    }

    .about__image .about__icon {
        width: 170px;
        height: 170px;
    }

    .about__image .about__icon .circle {
        width: 112px;
        height: 112px;
    }

    .about__image .about__icon .icon {
        width: 33px;
        height: 48px;
    }
}



/* ////////////////// ABOUT  /////////////////*/


